Plugins>Brennan Lab>Utils, "Open a substack of a Tiff", ucla.brennanlab.imagej.util.TIFF_Substack_Opener
Plugins>Brennan Lab>Utils, "Open multiple subsequences from a Tiff", ucla.brennanlab.imagej.util.Multiple_Substack_Opener("run")
Plugins>Brennan Lab>Utils, "Z-Axis profile of a file", ucla.brennanlab.imagej.util.Z_Axis_Profile_Without_Opening
Plugins>Brennan Lab>Utils, "Changes from baseline...", ucla.brennanlab.imagej.util.Change_from_baseline
Plugins>Brennan Lab>Utils, "Thresholded changes from baseline...", ucla.brennanlab.imagej.util.Threshold_vs_Baseline
Plugins>Brennan Lab>Utils, "Blur and threshold versus baseline", ucla.brennanlab.imagej.util.Blur_And_Threshold
Plugins>Brennan Lab>Utils, "Sign of differences", ucla.brennanlab.imagej.util.Sign_of_difference
Plugins>Brennan Lab>Utils, "Differences", ucla.brennanlab.imagej.util.LaggedDifferenceCalculator
Plugins>Brennan Lab>Utils, "Filtered Differences", ucla.brennanlab.imagej.util.LaggedDifferenceCalculator("filter=true")
Plugins>Brennan Lab>Utils, "Cumulative sum", ucla.brennanlab.imagej.util.Cumulative_sum
Plugins>Brennan Lab, "Bright CSD tracker from differences",ucla.brennanlab.imagej.csd.WaveFrontTracker
Plugins>Brennan Lab>CSD>Peak Isolator, "Peak Isolator Movie", ucla.brennanlab.imagej.csd.CSD_peak_isolator
Plugins>Brennan Lab>CSD>Peak Isolator, "Peak Isolator Arrivals", ucla.brennanlab.imagej.csd.CSD_peak_isolator("showArrivalTimes=true;regularize=false;showMovie=false")
Plugins>Brennan Lab>CSD>Peak Isolator, "Montage CSDs from file", ucla.brennanlab.imagej.csd.CSD_multi_montager
Plugins>Brennan Lab>CSD, "Bin ROI Selection to text", ucla.brennanlab.imagej.csd.SelectionToText
Plugins>Brennan Lab>CSD>Levelset Method, "Reconstruct Wave from speed",ucla.brennanlab.imagej.csd.ReconstructWaveFromSpeed
Plugins>Brennan Lab>CSD>Levelset Method, "Signed distance to ROI",ucla.brennanlab.imagej.csd.SignedDistancetoRoi
Plugins>Brennan Lab>Utils, "Interactive Z Axis profile", ucla.brennanlab.imagej.util.Interactive_ZAxisProfiler
Plugins>Brennan Lab>Tests, "ROI to signed distance",ucla.brennanlab.imagej.util.levelsets.ROItoSignedDistance
Plugins>Brennan Lab>Tests, "Kriging inference and interpolation test", ucla.brennanlab.imagej.util.stochastic.tests.KrigingTest
Plugins>Brennan Lab>Tests, "Levelset Fast Marching test", ucla.brennanlab.imagej.util.levelsets.tests.levelsetTest
Plugins>Brennan Lab>Tests, "Fit polynomial", ucla.brennanlab.imagej.util.Fit_Polynomial
Plugins>Brennan Lab>Tests, "Determine groundtruth mismatch", ucla.brennanlab.imagej.util.SegmentationError
