Plugins>Brennan Lab>Utils, "Open a substack of a Tiff", org.brennanlab.imagej.util.TIFF_Substack_Opener
Plugins>Brennan Lab>Utils, "Open multiple subsequences from a Tiff", org.brennanlab.imagej.util.Multiple_Substack_Opener("run")
Plugins>Brennan Lab>Utils, "Z-Axis profile of a file", org.brennanlab.imagej.util.Z_Axis_Profile_Without_Opening
Plugins>Brennan Lab>Utils, "Changes from baseline...", org.brennanlab.imagej.util.Change_from_baseline
Plugins>Brennan Lab>Utils, "Thresholded changes from baseline...", org.brennanlab.imagej.util.Threshold_vs_Baseline
Plugins>Brennan Lab>Utils, "Blur and threshold versus baseline", org.brennanlab.imagej.util.Blur_And_Threshold
Plugins>Brennan Lab>Utils, "Sign of differences", org.brennanlab.imagej.util.Sign_of_difference
Plugins>Brennan Lab>Utils, "Differences", org.brennanlab.imagej.util.LaggedDifferenceCalculator
Plugins>Brennan Lab>Utils, "Filtered Differences", org.brennanlab.imagej.util.LaggedDifferenceCalculator("filter=true")
Plugins>Brennan Lab>Utils, "Cumulative sum", org.brennanlab.imagej.util.Cumulative_sum
Plugins>Brennan Lab, "Bright CSD tracker from differences",org.brennanlab.imagej.csd.WaveFrontTracker
Plugins>Brennan Lab>CSD>Peak Isolator, "Peak Isolator Movie", org.brennanlab.imagej.csd.CSD_peak_isolator
Plugins>Brennan Lab>CSD>Peak Isolator, "Peak Isolator Arrivals", org.brennanlab.imagej.csd.CSD_peak_isolator("showArrivalTimes=true;regularize=false;showMovie=false")
Plugins>Brennan Lab>CSD>Peak Isolator, "Montage CSDs from file", org.brennanlab.imagej.csd.CSD_multi_montager
Plugins>Brennan Lab>CSD, "Bin ROI Selection to text", org.brennanlab.imagej.csd.SelectionToText
Plugins>Brennan Lab>CSD>Levelset Method, "Reconstruct Wave from speed",org.brennanlab.imagej.csd.ReconstructWaveFromSpeed
Plugins>Brennan Lab>CSD>Levelset Method, "Signed distance to ROI",org.brennanlab.imagej.csd.SignedDistancetoRoi
Plugins>Brennan Lab>Utils, "Interactive Z Axis profile", org.brennanlab.imagej.util.Interactive_ZAxisProfiler
Plugins>Brennan Lab>Tests, "ROI to signed distance",org.brennanlab.imagej.util.levelsets.ROItoSignedDistance
Plugins>Brennan Lab>Tests, "Kriging inference and interpolation test", org.brennanlab.imagej.util.stochastic.tests.KrigingTest
Plugins>Brennan Lab>Tests, "Levelset Fast Marching test", org.brennanlab.imagej.util.levelsets.tests.levelsetTest
Plugins>Brennan Lab>Tests, "Fit polynomial", org.brennanlab.imagej.util.Fit_Polynomial
Plugins>Brennan Lab>Tests, "Determine groundtruth mismatch", org.brennanlab.imagej.util.SegmentationError
